body{
    font-family:Arial;
    margin:0;
    background:#f4f4f4;
}
nav{
    background:#222;
    padding:10px;
    text-align:center;
}
nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}
.hero{
    background:#007bff;
    color:white;
    padding:40px;
    text-align:center;
}
.content{
    padding:40px;
}
.card{
    background:white;
    padding:20px;
    border-radius:8px;
}